.row
  .col-md-4
    %span.small
      tweets
  .col-md-4
    %span.small
      following
  .col-md-4
    %span.small
      followers
.row
  .col-md-4
    %span.small
      = user_tweets_count
  .col-md-4
    %span.small
      = user_friends_count
  .col-md-4
    %span.small
      = user_followers_count
