.panel.panel-default
  .panel-body
    =form_tag tweet_path, class: "form", method: :post do
      =text_area_tag :tweet, nil, rows: 3, class: "tweet", placeholder: "What's happening?"
      .clearfix
      %button.btn.pull-right.btn-default.tweet-btn{:type => "submit"} Tweet

