.panel.panel-default
  .panel-body
    %form.form
      .form-group
        %textarea.form-control{:rows => "3", placeholder: "Whats happening?"}
    %button.btn.pull-right.btn-default.tweet-btn{:type => "submit"} Tweet
